/*
#MARK: Generales
estilos generales*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: var(--primary-color2);
	font-family: var(--font-family);
}

@font-face {
	font-family: modernpics;
	src: url("../css/assets/modernpics.otf");
}

:root {
	--font-family: "Varela Round";
	--primary-color: #152543;
	--primary-color2: #283b63;
	--primary-color3: #91c4f2;
	--secundary-color1: #537b9b;
	--secundary-color2: #6b8e75;
	--details-color: #0d537c;
}

/*
MARK: Header
*/
.header {
	position: relative;
	width: 100%;
	height: 7vh;
	display: flex;
	background-color: var(--primary-color);
}

.header__nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__nav__container {
	display: flex;
	justify-content: space-around;
	width: 15vw;
	height: 100%;
	align-items: center;
}

.header__nav__sections {
	height: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 8%;
}

.header__nav__sections > li {
	margin-left: 2vw;
	display: flex;
	align-items: center;
	align-items: center;
	height: 100%;
}

.header__nav__search {
	height: 100%;
	display: flex;
	align-items: center;
}

.header__nav__search > label {
	font-family: modernpics;
	font-size: 2vw;
	color: var(--primary-color3);
	cursor: pointer;
	height: 100%;
}

.header__nav__search > input {
	background-color: transparent;
	border: none;
	border: 1px solid transparent;
	border-radius: 30px;
	padding: 20px;
	width: 20vw;
	height: 2vw;
	font-size: 1.2vw;
	cursor: pointer;
}

.header__nav__search > input:focus {
	outline: none;
}

.header__nav__search:hover > input::placeholder {
	color: rgb(201, 200, 200);
}
.header__nav__search:hover > label {
	color: rgb(201, 200, 200);
}

.header__nav__search > input::placeholder {
	color: var(--primary-color3);
}

#cardsOptions {
	flex-direction: column;
	font-size: 0.5vw;
	position: absolute;
	top: 100%;
	z-index: 10;
	left: 35vw;
	border-radius: 20px;
	width: 8vw;
}

#cardsOptions > p {
	padding: 0.3vw;
	background-color: var(--primary-color);
}

#cardsOptions > p:hover {
	background-color: var(--secundary-color1);
	cursor: pointer;
}

.header__nav__container__title > a {
	text-decoration: none;
	color: inherit;
}

/*
MARK: Main
*/
.main {
	position: relative;
	display: grid;
	grid-template-columns: 15% 85%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.main__cardList {
	margin-top: 1vw;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.main__cardList__cards {
	margin-top: 1vw;
	border: 1px solid var(--details-color);
	border-radius: 10px;
	overflow: scroll;
	gap: 1vw;
	display: grid;
	padding: 3.2vw;
	position: relative;
	width: 100%;
	height: 82vh;
	grid-template-columns: repeat(8, 1fr);
	counter-reset: item;
	grid-auto-rows: max-content;
	background: linear-gradient(to right, #21364b, #17569e, #10345c);
	background-size: 500% 500%;
	animation: 20s gradientMove ease-in-out infinite;
	box-shadow: 0 0 10px 2px var(--primary-color);
	margin-bottom: 1vw;
}

.main__cardList__cards::-webkit-scrollbar {
	display: none;
}
.main__cardList__cards img{
	top: 0;
	height: 90%;
	width: 90%;
	transition: all 0.5s;
	animation: move 2s ease;
}

.main__cardList__cards p {
	text-align: center;
	animation: move 2s ease;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes move {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0);
	}
}

.main__cardList__arrow {
	clip-path: polygon(
		72% 15%,
		65% 65%,
		85% 70%,
		50% 96%,
		15% 70%,
		35% 65%,
		28% 15%
	);
	position: absolute;
	display: none;
	width: 20px;
	height: 20px;
	background-color: orangered;
	z-index: 20;
	left: 10px;
	bottom: 4vw;
	animation: bouncingArrow 1.8s ease-in-out infinite;
}

@keyframes bouncingArrow {
	0% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(10px);
	}
	60% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0px);
	}
}




.main__cardInformation button {
	background-color: #10345c;
	border: none;
	width: 5vw;
	padding: 0.2vw;
	align-self: center;
	transition: border-radius 0.8s ease;
}

.main__cardInformation button:hover {
	color: black;
	cursor: pointer;
	border-radius: 20px;
	animation: cambioColor 20s linear infinite;
}

/*
MARK: Aside
*/

.main__aside__container {
	margin-right: 2vw;
	margin-top: 3.5vw;
	background-color: var(--primary-color1);
	display: flex;
	flex-direction: column;
	top: 0;
	height: fit-content;
	background-color: var(--primary-color);
	padding: 1vw;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid var(--details-color);
	border-left: none;
	box-shadow: 0 0 10px 2px var(--primary-color);
}

.main__aside__container > * {
	margin-top: 1vw;
}

.main__aside__container input {
	border-radius: 5px;
	width: 10vw;
	padding: 0.2vw;
	background-color: var(--secundary-color1);
	border: 1px solid var(--details-color);
}

.main__aside__priceOrder input {
	width: auto;
}

.main__aside__container__allCards > input:hover {
	background-color: #afd0ee;
}

.main__aside__container__allCards > input:active {
	background-color: #5394d1;
}

.main__aside button {
	background-color: #10345c;
	border: none;
	width: 5vw;
	padding: 0.2vw;
	align-self: center;
	transition: border-radius 0.8s ease;
}

.main__aside button:hover {
	color: black;
	cursor: pointer;
	border-radius: 20px;
	animation: cambioColor 20s linear infinite;
}

.main__aside button:active{
	animation: none;
	background-color: rgb(54, 54, 54);
}

@keyframes cambioColor {
	0% {
		box-shadow: inset 0 0 0 1vw rgb(255, 255, 255), 0 0 5px 0.1px gray;
	}
	10% {
		box-shadow: inset 0 0 0 1vw rgb(255, 0, 0), 0 0 5px 0.1px gray;
	}
	20% {
		box-shadow: inset 0 0 0 1vw rgb(255, 217, 0), 0 0 5px 0.1px gray;
	}
	30% {
		box-shadow: inset 0 0 0 1vw rgb(0, 255, 17), 0 0 5px 0.1px gray;
	}
	40% {
		box-shadow: inset 0 0 0 1vw rgb(0, 255, 242), 0 0 5px 0.1px gray;
	}
	50% {
		box-shadow: inset 0 0 0 1vw rgb(4, 0, 255), 0 0 5px 0.1px gray;
	}
	60% {
		box-shadow: inset 0 0 0 1vw rgb(221, 0, 255), 0 0 5px 0.1px gray;
	}
	70% {
		box-shadow: inset 0 0 0 1vw rgb(47, 0, 255), 0 0 5px 0.1px gray;
	}
	80% {
		box-shadow: inset 0 0 0 1vw rgb(43, 255, 0), 0 0 5px 0.1px gray;
	}
	90% {
		box-shadow: inset 0 0 0 1vw rgb(255, 0, 0), 0 0 5px 0.1px gray;
	}
	100% {
		box-shadow: inset 0 0 0 1vw rgb(255, 255, 255), 0 0 5px 0.1px gray;
	}
}

.main__aside__container > div {
	display: flex;
	flex-direction: column;
}

.main__cardList__cards > div > div {
	width: 5vw;
	height: 5vw;
	left: 50%;
	animation: loading 5s linear infinite;
	margin-left: 20%;
	margin-top: 50%;
}

.main__cardList__pages {
	display: none;
}

.main__cardInformation {
	position: relative;
	font-size: small;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	z-index: 10;
	position: absolute;
	background-color: var(--primary-color);
	border: 1px solid var(--details-color);
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 15vw;
	height: 98%;
	transition: transform 1s ease;
	justify-content: center;
	align-items: center;
	text-align: left;
	transform: translate(-1000px);
}

.main__cardInformation > * {
	width: 100%;
	margin-bottom: 0.3vw;
}

.main__cardInformation > img {
	height: 44vh;
	width: 15vw;
}



.main__cardInformation__arrow{
	width: 1.5vw;
	height: 1.5vw;
	background-color: var(--details-color);
	clip-path: polygon(
		72% 15%,
		65% 65%,
		85% 70%,
		50% 96%,
		15% 70%,
		35% 65%,
		28% 15%
		);
	rotate: 90deg;
	position: absolute;
	top: .2vw;
	right: .2vw;;
}

.main__cardInformation__arrow:hover{
	cursor: pointer;
	background-color: #4e8baf;
}
.main__cardInformation__arrow:active{
	background-color: #0a2230;
}




/*
MARK: Animaciones
*/

@keyframes loading {
	0% {
		background-color: var(--primary-color);
		border-radius: 5px;
	}
	50% {
		background-color: rgb(109, 128, 185);
		border-radius: 60px;
	}
	100% {
		background-color: var(--primary-color);
		border-radius: 5px;
	}
}

.main__cardList__searchAnimation {
	display: none;
	position: absolute;
	z-index: 30;
	top: 50%;
	width: 8vw;
}

.main__cardList__searchAnimation > img:nth-child(1) {
	animation: cardMovement 2.5s ease infinite;
}
.main__cardList__searchAnimation > img:nth-child(2) {
	animation: cardMovement 2.5s ease infinite;
	animation-delay: 0.3s;
}
.main__cardList__searchAnimation > img:nth-child(3) {
	animation: cardMovement 2.5s ease infinite;
	animation-delay: 0.6s;
}
.main__cardList__searchAnimation > img:nth-child(4) {
	animation: cardMovement 2.5s ease infinite;
	animation-delay: 0.9s;
}

.main__cardList__searchAnimation__card {
	position: absolute;
	width: 2vw;
	border-radius: 5px;
}

@keyframes cardMovement {
	0% {
		left: 0;
	}
	50% {
		left: 100%;
	}
}
